# Global ignores
*.bak
*.o
*.l[oa]
*.so
*.sw[a-z]
*~
.deps
.libs
Makefile
Makefile.in
cscope.out

# /
/.cdtproject
/.project
/.settings
/CMakeLists.txt.user
/aclocal.m4
/autom4te.cache
/cmake-build
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/intltool-*
/missing
/mkinstalldirs
/stamp-h.in
/stamp-h1
/ylwrap
/.cproject
/libgtkpod-1.0.pc
/libtool
/ltmain.sh

# /data/
/data/*.desktop
/data/nocover_found.png
/data/gtkpod.glade.h

# /data/man/
/data/man/gtkpod.1

# /po/
/po/Makefile.in.in
/po/POTFILES
/po/*.gmo
/po/*.mo
/po/*.pot
/po/.intltool-merge-cache
/po/stamp-it

# /src/
/src/date_parser.c
/src/date_parser2.c
/src/gtkpod
/src/itdb

# /plugins/
/plugins/*.plugin

# links from dev env
/data/AUTHORS
/data/LICENCE
/data/glade/gtkpod.glade.h
/data/glade/details_editor.glade
/data/glade/coverweb.glade
/data/glade/exporter.glade
/data/glade/info_display.glade
/data/glade/sorttab_display.glade
/data/glade/track_display.glade
/data/glade/repository_editor.glade
/data/glade/cover_display.glade
/data/glade/playlist_display.glade
/data/glade/core_prefs.xml
/data/glade/photo_editor.glade
/data/glade/media_player.glade

/data/ui/details_editor.ui
/data/ui/coverweb.ui
/data/ui/exporter.ui
/data/ui/info_display.ui
/data/ui/sorttab_display.ui
/data/ui/track_display.ui
/data/ui/repository_editor.ui
/data/ui/cover_display.ui
/data/ui/playlist_display.ui
/data/ui/core_prefs.ui
/data/ui/photo_editor.ui
/data/ui/media_player.ui

