# Global ignores
*.bak
*.o
*.l[oa]
*.so
*.sw[a-z]
*~
.deps
.libs
Makefile
Makefile.in
cscope.out

# /
/.cdtproject
/.project
/.settings
/CMakeLists.txt.user
/aclocal.m4
/autom4te.cache
/cmake-build
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/intltool-*
/missing
/mkinstalldirs
/stamp-h.in
/stamp-h1
/ylwrap
/.cproject
/libgtkpod-1.0.pc
/libtool
/ltmain.sh

# /data/
/data/*.desktop
/data/nocover_found.png

# /data/man/
/data/man/gtkpod.1

# /po/
/po/Makefile.in.in
/po/POTFILES
/po/*.gmo
/po/.intltool-merge-cache
/po/stamp-it

# /src/
/src/date_parser.c
/src/date_parser2.c
/src/gtkpod
/src/itdb

# /plugins/
/plugins/*.plugin

# links from dev env
details_editor.glade
coverweb.glade
exporter.glade
info_display.glade
sorttab_display.glade
track_display.glade
repository_editor.glade
cover_display.glade
playlist_display.glade
core_prefs.xml

details_editor.ui
coverweb.ui
exporter.ui
info_display.ui
sorttab_display.ui
track_display.ui
repository_editor.ui
cover_display.ui
playlist_display.ui
core_prefs.ui
