*Makefile
*Makefile.in
*Makefile.in.in
*.lo
*.anjuta_sym_db.db
*.o
*.deps
*.libs
*.la
*.so
*POTFILES


# /
/.cdtproject
/.project
/.settings
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/intltool-*
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h.in
/stamp-h1
/ylwrap
/.cproject

# /data/
/data/*.gmo
/data/*.desktop
/data/nocover_found.png

/data/man/gtkpod.1

# /po/
/po/*.gmo
/po/.intltool-merge-cache
/po/stamp-it

/src/cscope.out
/src/date_parser.c
/src/date_parser2.c
/src/gtkpod
/src/itdb

# plugins soft links
/plugins/*.plugin
